{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          ">1%",
          "last 4 versions",
          "Firefox ESR",
          "not ie < 11"
        ]
      }
    }],
    "next/babel"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-catch-binding",
    "@babel/plugin-proposal-export-default-from",
    "lodash"
  ]
}
