{
    "parser": "babel-eslint",
    "extends": [
        "standard",
        "standard-react"
    ],
    "plugins": [
        "standard",
        "promise"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true
    }
}