.waiting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100%;
    margin-top: 3pc;
    font-size: 3em;
    color: #ffffff;
}

.waiting .waiting-circle {
    width: 20px;
    height: 20px;
    background-color: #000;
    float: left;
    border-radius: 50% 50% 50% 50%;
    margin-right: 20px;
    margin-bottom: 20px
}

.waiting-animation {
    -webkit-animation: waiting-wrapper-animation 1s infinite;
    animation: waiting-wrapper-animation 1s infinite;
    margin-top: 100px
}

.waiting .waiting-circle:nth-child(2n+0) {
    margin-right: 0
}

.waiting-circle1 {
    -webkit-animation: waiting-circle1-animation 1s infinite;
    animation: waiting-circle1-animation 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate
}

.waiting-circle2 {
    -webkit-animation: waiting-circle2-animation 1s infinite;
    animation: waiting-circle2-animation 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate
}

.waiting-circle3 {
    -webkit-animation: waiting-circle3-animation 1s infinite;
    animation: waiting-circle3-animation 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate
}

.waiting-circle4 {
    -webkit-animation: waiting-circle4-animation 1s infinite;
    animation: waiting-circle4-animation 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate
}

@-webkit-keyframes waiting-circle1-animation {
    0% {
        background-color: pink
    }
    50% {
        -webkit-transform: translate(20px, 20px);
        transform: translate(20px, 20px)
    }
    to {
        background-color: hotpink
    }
}

@keyframes waiting-circle1-animation {
    0% {
        background-color: pink
    }
    50% {
        -webkit-transform: translate(20px, 20px);
        transform: translate(20px, 20px)
    }
    to {
        background-color: hotpink
    }
}

@-webkit-keyframes waiting-circle2-animation {
    0% {
        background-color: #deb887
    }
    50% {
        -webkit-transform: translate(-20px, 20px);
        transform: translate(-20px, 20px)
    }
    to {
        background-color: gold
    }
}

@keyframes waiting-circle2-animation {
    0% {
        background-color: #deb887
    }
    50% {
        -webkit-transform: translate(-20px, 20px);
        transform: translate(-20px, 20px)
    }
    to {
        background-color: gold
    }
}

@-webkit-keyframes waiting-circle3-animation {
    0% {
        background-color: #87cefa
    }
    50% {
        -webkit-transform: translate(20px, -20px);
        transform: translate(20px, -20px)
    }
    to {
        background-color: #00bfff
    }
}

@keyframes waiting-circle3-animation {
    0% {
        background-color: #87cefa
    }
    50% {
        -webkit-transform: translate(20px, -20px);
        transform: translate(20px, -20px)
    }
    to {
        background-color: #00bfff
    }
}

@-webkit-keyframes waiting-circle4-animation {
    0% {
        background-color: #90ee90
    }
    50% {
        -webkit-transform: translate(-20px, -20px);
        transform: translate(-20px, -20px)
    }
    to {
        background-color: #3cb371
    }
}

@keyframes waiting-circle4-animation {
    0% {
        background-color: #90ee90
    }
    50% {
        -webkit-transform: translate(-20px, -20px);
        transform: translate(-20px, -20px)
    }
    to {
        background-color: #3cb371
    }
}

@-webkit-keyframes waiting-wrapper-animation {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes waiting-wrapper-animation {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
