.container {
  width: 50px;
  height: 50px;
  left: calc(50% - 25px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  border-radius: 50%;
  z-index: 1000;
  background: #ffff;
  transition: transform ease-in-out .2s;
  transform: translateY(-50px);
}

.show {
  transform: translateY(10px);
}

.hide {
  transform: translateY(-50px);
}
