.canvas-background, .canvas-triangles {
    .article-canvas-radius-top & {
        border-radius: 0.5em 0.5em 0 0;
    }
    .article-canvas-radius-bottom & {
        border-radius: 0 0 0.5em 0.5em;
    }
    .article-canvas-radius-top.article-canvas-radius-bottom & {
        border-radius: 0.5em;
    }
}

.article-titleonly {
    .card-title > span {
        font-size: 20px !important;
    }
}

.article-titleonly+.article-titleonly {
    .article-card {
        margin-top: -1em;
    }
}

.card-title {
    span {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }
    text-shadow: 1px 1px 8px #444
}

.canvas-triangles {
    opacity: 0;
    transition: opacity 2s;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
}

@media only screen and (max-width: 250px) {
    .card-title > span:nth-of-type(1) {
        height: 108px;
    }
}
