
.cardTitle > span {
    font-size: 28px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    overflow: hidden;
}
.canvas-triangles {
    opacity: 0;
    transition: opacity 3s;
}
@media only screen and (max-width: 250px) {
    .cardTitle > span:nth-of-type(1) {
        height: 108px;
    }
}
