.post {
  padding-top: 3em;

  @media screen and (max-width: 1279px) {
    padding-top: 0;
  }
}

.article {
  margin-top: -1em;
}

.center {
  margin: 0 auto;
  text-align: center;

}

.user {
  margin-left: -6px;
  padding-bottom: 1rem;
}

.content {
  padding: 2rem !important;
}
