#player {
    position: fixed;
    bottom: 0%;
    transition: .5s;
    width: 320px;
    left: -320px;
    height: 300px;
    z-index: 100000;
}

#player #switch-buttons {
    cursor: pointer;
    bottom: 0;
    width: 0;
    right: 0;
    position: absolute;
    display: inline-block;
}

#player .switch-exit {
    display: none;
}

#player #player-iframe {
    height: 300px;
}

#player.show {
    -webkit-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
}

#player.show .switch-angle {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#player.show #player-iframe,
#player.show .switch-exit {
    display: inline-block;
}

#player.show #switch-buttons {
    left: 200px;
}

#player iframe {
    height: 300px;
    width: 200px;
    border: none;
    z-index: 10000;
}

@media screen and (max-width: 800px) and (max-height: 600px) {
    #player {
        display: none;
    }
}
