.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.fade-leave {
  transition: opacity 1s ease-in-out;
  opacity: 1 !important;
}

.fade-leave-active {
  opacity: 0 !important;
}
