body {
  margin: 0;
  padding: 0;
  font-family: Inziu IosevkaCC SC, -apple-system, BlinkMacSystemFont, "Segoe UI", "Dengxian", system-ui, Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei Light", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 100%;
}

html {
  min-height: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #428bca;
  :focus, :hover {
    color: #009688;
  }
}

code, kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

code, kbd, pre, samp {
  font-family: Inziu IosevkaCC SC, Source Code Pro, Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  overflow: auto;
}

blockquote {
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-left: 0.25rem solid #eceeef;
  margin: 0 0 1rem;
  background: rgba(255, 255, 255, 0.4);
}


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.fade-leave {
  transition: opacity 1s ease-in-out;
  opacity: 1 !important;
}

.fade-leave-active {
  opacity: 0 !important;
}
