body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #428bca;
}
a:focus, a:hover {
  color: #009688;
}
code, kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    overflow: auto;
}
.canvas-triangles {
  border-radius: 0.5em 0.5em 0 0;
}